:root {
  --primary-yellow: #fab623;
  --primary-gray: #707070;
}

html {
  overflow: auto;
}

.btn {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--primary-yellow);
  color: #fff;
  box-shadow: 1px 1px 10px #ccc;
}

.page-section {
  padding: 45px 40px;
  max-width: 1100px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
